<div class="container mt-5">
    <div *ngIf="!_registerMode" style='text-align: center;'>
        <h1>Find your match</h1>
        <p class="lead">Come on in to view your matches... all you need to do is sign up!</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
            <button class="btn btn-info btn-lg mr-2">Learn more</button>
        </div>
    </div>

    <!--Represent the app-register-->
    <div *ngIf="_registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4" >
                <!-- Parent to Child communication: "_users" belong to the parent(Home), "usersFromHomeComponent" belong to the child(Register). -->
                <!-- [usersFromHomeComponent]="_users" : The "usersFromHomeComponent" recieve data from "_users"  -->
                <!-- Child to Parent communication: "cancelRegiseter" belong to child (Register)-->
                <!-- "cancelRegisterMode" is Parent function that recieved True or False from the property "cancelRegiseter" -->
                <!-- $event is the value (True or False) that "cancelRegiseter" emmit in to "cancelRegisterMode" methode that belong to Home component-->
                <app-register (cancelRegiseter)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>